<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cluckr 🐔</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <header>
        <nav>
            <a href="/">Home</a>

            <a href="/cluck">Cluck!</a>

            <a href="/index">Index</a>
           <% if (username) { %>
            <%= username %>
            <form action="/"></form>
        <% } else { %>
        <form action="/sign_in" method="GET">
                <button type="submit">Sign In</button>
                <% } %>
        </form>
        </nav>
    </header>
    