<%- include("../partials/header") %>
<h1>Welcome to the cluck Index!</h1>
<% noteDataArr.forEach(noteItem => { %>

<div class="card m-4">
    <div class="container">
        <div class="card-body">
        <p class="card-text"><img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Chicken_icon_05.svg" height = "30" width= "30" alt=""></p>
            
            <div class="">
                <%= noteItem.content %>
                <br>
                <%if(noteItem.image_url) { %>
                
                <img src="<%= noteItem.image_url %>" alt="" height="120" width = "200">
                <% } %>

            </div>
        </div>
    </div>
  
</div>

<% }) %>
<%- include("../partials/footer") %>