<%- include("../partials/header") %>
<% if(username) {%>
<h1>Cluck Away Here!</h1>

<form action="/cluck" method="POST">
  <div class="form-group m-2">
    <label>Content</label>
    <textarea name="content" id="" rows="10" class="form-control" placeholder="ex) Buck buck"></textarea>
  </div>
  <div class="form-group m-2">
    <label>Image URL</label>
    <input type="text" class="form-control" name="image" placeholder=" ex) http://example.com">
    <br>
    <div class="text-right">
        <input class="btn btn-warning "type="submit" value="Cluck!">
    </div>
  </div>
</form>
<% } else { %>
<!-- using a fixed top bar, had to add more spaces -->
<br>
<br>
<br>
<h3>Please Sign In to Start Clucking!</h3>

<% } %>
<%- include("../partials/footer") %>